div.hubDrive-container{
    display: flex;
   flex-direction: row;
    min-width: 100%;
    text-decoration: none;
    color: #C0C0C0;
    justify-items: center;
    justify-content: space-evenly;
    /* align-items: center; */
    min-height: 86vh;
    
}
.detail-hubDrive-title{
    display:flex;
    flex-direction: row;
    /* border: 5px solid #C0C0C0; */
    border-radius: 50px;
    /* background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%); */
    /* box-shadow: 5px 5px 5px 5px black; */
    color:#f4100f;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom:100px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
/* .hubDrive-card-content{
    display: flex;
    flex-direction: row;
} */
.card-hubDrive-pic{
    image-rendering: auto;
    width:auto;
    height:200px;
    border-radius: 2em;
    /* box-shadow: 5px 5px 5px 5px black; */
    text-decoration: none;
    /* border:3px solid #C0C0C0; */
    max-width: 300px;
    margin: 20px;
}
.card-hubDrive-cardDetail{
    font-weight: 600;
    text-decoration: none;
    padding:10px;
}
.card-hubDrive-name{
    text-decoration: none;
}
.hubDrive-link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:#C0C0C0;
    box-shadow: 5px 5px 5px 5px black;
    border:5px solid #f4100f;
    border-radius: 50px;
    align-items: center;
    background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
    min-width: 375px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size:20px;
    width:460px;
    }