.exoPlanets-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
}
.asc-button{
    width:auto;
    border: 3px solid black;
    border-radius: 20px;
    background-color: gray;
}
.desc-button{
    width:auto;
    border: 3px solid black;
    border-radius: 20px;
    background-color: gray;
}




.exoPlanet-list-buttons{
    display:flex;
    flex-direction: row;
   
}