.about-link{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid white;
    /* border-radius: 20px; */
    color:black;
    background-color: gray;
    

}