.review-pic{
    height:100px;
    width: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px black;
    border:5px solid white;


}
.review-card-img{
    display:flex;
    flex-direction: column;
    width:15vw;
    border:5px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    background-color: gray;
    align-items: center;
    
    box-shadow: 5px 5px 5px 5px black;
}
.review-card-name{
    font-size:20px;
    font-weight: 600;
    background-color:rgb(28, 70, 168) ;
    color:white;
    border:3px solid white;
    border-radius: 5px;
    margin:10px;
    box-shadow: 5px 5px 5px 5px black;

}
.review-card-details{
    display:flex;
    flex-direction: column;
    border:5px solid white;
    border-radius: 20px;
    background-color:gray;
    color:white;
    padding:10px;
    margin:10px;
    box-shadow: 5px 5px 5px 5px black;
    font-weight: 600;
   

}
.review-list-header{
    background-color: gray;
    border-radius: 20px;
    color: white;
    border:5px solid white;
}
.review-card-dates{
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    font-weight: 600;
    color:black;
    padding:10px;

}
.edit-cancel-button{
    display:flex;
    border:5px solid white;
    color:white;
    justify-content: flex-start;
    max-width:50px;
    justify-content: center;
}

.review-card-content{
    display:flex;
    flex-direction: column;
    background-color: black;
    
    border:10px solid white;
    border-radius: 50px;
    margin:5px;
    box-shadow: 5px 5px 5px 5px black;
}
.review-card-time{
    color:white;
    padding:5px;
}