.review-pic {
  height: 100px;
  width: auto;
}

.review-container {
  display: flex;
  flex-direction: column;
  min-height: 93.5vh;
}

.review-card-img {
  display: flex;
  flex-direction: column;
  width: 15vw;
  border: 5px solid #f4100f;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  background: radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
  align-items: center;
}

.review-card-name {
  font-size: 20px;
  font-weight: 600;
  color: #c0c0c0;
  border-radius: 5px;
  margin: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.review-card-details {
  display: flex;
  flex-direction: column;
  border: 5px solid #f4100f;
  border-radius: 20px;
  background: radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
  color: #c0c0c0;
  padding: 10px;
  margin: 10px;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.review-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-list-header {
  border-radius: 20px;
  color: #f4100f;
  border: none;
  padding: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 40px;
}

.review-card-dates {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 600;
  color: #c0c0c0;
  padding: 10px;
}

button.edit-cancel-button {
  display: flex;
  border: 5px solid #f4100f;
  border-radius: 10px;
  background: radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
  color: #c0c0c0;
  justify-content: flex-start;
  max-width: 50px;
  justify-content: center;
  font-family: "Play", sans-serif;
}

.review-card-content {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.review-card-time {
  color: #c0c0c0;
  padding: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
