.itinerary-edit-form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.edit-ion-selected {
    display:flex;
    flex-direction: column;
    border: none;
    align-items: center;
    height: 3em;
    background-color: rgb(179, 9, 9);
    margin: 10px;
    transition: none;
    color: white;
    font-size: x-large;
    border: 5px solid white;
    /* border-radius: 20px; */
    width:auto;
    font-family: 'Play', sans-serif;
}
.edit-ion-not-selected {
   display:flex;
   flex-direction: column;
    align-items: center;
    height: 3em;
    width:auto;
    border: none;
    background-color: rgb(179, 9, 9);
    margin: 10px;
    transition: none;
    color: black;
    font-size: x-large;
    border: 5px solid gray;
    /* border-radius: 20px; */
    font-family: 'Play', sans-serif;
}

.edit-ion-selected:hover {
    background-color: gray;
    color: white;
    font-family: 'Play', sans-serif;
}

.edit-ion-not-selected:hover {
    background-color: black;
    color: gray;
    font-family: 'Play', sans-serif;
}
.edit-warp-selected {
    display:flex;
    flex-direction: column;
    border: none;
    align-items: center;
    height: 3em;
    background-color: rgb(179, 9, 9);
    margin: 10px;
    transition: none;
    color: white;
    font-size: x-large;
    border: 5px solid white;
    /* border-radius: 20px; */
    width:auto;
    font-family: 'Play', sans-serif;

}
.edit-warp-not-selected {
    display:flex;
    flex-direction: column;
     align-items: center;
     height: 3em;
     width:auto;
     border: none;
     background-color: rgb(179, 9, 9);
     margin: 10px;
     transition: none;
     color: black;
     font-size: x-large;
     border: 5px solid gray;
    /* border-radius: 20px; */
    font-family: 'Play', sans-serif;
}

.edit-warp-selected:hover {
    background-color: gray;
    color: white;
    font-family: 'Play', sans-serif;
}

.edit-warp-not-selected:hover {
    background-color: black;
    color: gray;
    font-family: 'Play', sans-serif;
}
.edit-wormhole-selected {
    display:flex;
    flex-direction: column;
    border: none;
    align-items: center;
    height: 3em;
    background-color: rgb(179, 9, 9);
    margin: 10px;
    transition: none;
    color: white;
    font-size: x-large;
    border: 5px solid white;
    /* border-radius: 20px; */
    width:auto;
    font-family: 'Play', sans-serif;
}
.edit-wormhole-not-selected {
    display:flex;
    flex-direction: column;
     align-items: center;
     height: 3em;
     width:auto;
     border: none;
     background-color: rgb(179, 9, 9);
     margin: 10px;
     transition: none;
     color: black;
     font-size: x-large;
     border: 5px solid gray;
    /* border-radius: 20px; */
    font-family: 'Play', sans-serif;
}

.edit-wormhole-selected:hover {
    background-color: black;
    color: white;
    font-family: 'Play', sans-serif;
}

.edit-wormhole-not-selected:hover {
    background-color: black;
    color: grey;
    font-family: 'Play', sans-serif;
}

.edit-mode-buttons{
    display:flex;
    flex-direction: row;
    margin:20px;

}
.edit-save-cancel{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Play', sans-serif;
}
.itinerary-edit-save-button{
    display:flex;
    flex-direction: row;
    background-color: gray;
    border: 5px solid white;
    color:white;
    /* border-radius: 20px; */
    align-items: center;
    justify-content: center;
    margin:20px;
    font-family: 'Play', sans-serif;
}
.itinerary-edit-cancel-button{
    display:flex;
    background-color: gray;
    border: 5px solid white;
    /* border-radius: 20px; */
    align-items: center;
    justify-content: center;
    margin:20px;
    color:white;
    font-family: 'Play', sans-serif;
}
.edit-save-button{
    display:flex;
    background-color: gray;
    border: 5px solid black;
    /* border-radius: 20px; */
    align-items: center;
    justify-content: center;
    margin:20px;
    font-family: 'Play', sans-serif;
}
.edit-detailsContainer{
    display:flex;
    flex-direction: column;
    background-color: gray;
    border:5px solid white;
    /* border-radius: 20px; */
    max-width: 50vw;
    min-width: 30vw;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    margin:20px;
    color:white;
    font-weight: 600;
    font-size: 20px;
}
.editDetails{
    display:flex;
    flex-direction: column;
   
    margin:20px;
    background-color:gray;
    border: 5px solid white;
    /* border-radius: 50px; */
    max-width: 50vw;
    align-items: center;
}
.edit-itinerary-img{
    height:200px;
    width:auto;
    /* border-radius: 20px; */
    border:5px solid white;
    margin:10px;
}
.edit-itinerary-pic{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit-itinerary-img-name{
    font-weight: 600;
    font-size: 28px;
    background-color: rgb(179, 9, 9);
    border:5px solid white;
    /* border-radius: 20px; */
    padding:10px;
    color:white;
}
.edit-itinerary-title{
    display:flex;
    flex-direction: row;
    background-color: gray;
    border:5px solid white;
    /* border-radius: 20px; */
    width:100vw;
    justify-content: center;
}
.itinerary-edit-form{
    min-height: 87vh;
}