.itinerary-detail-summary{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width:auto;
    font-size: 17px;
    margin: 20px;
    
}
.itinerary-details-title-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.itinerary-detail-title{
    position: relative;
    top:auto;
    color:#C0C0C0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.itinerary-detail-data{
    color:#f4100f;
}
.itinerary-page-bottom{
    display:flex;
    flex-direction: column;
    min-height: 37vh;
}
.itinerary-img{
    width:auto;
    height:170px;
     /* border:5px solid #C0C0C0;  */
    border-radius: 50px;
    padding:10px;
}

.itinerary-img-name{
    /* background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%); */
   /* border:5px solid #C0C0C0; */
   border-radius: 50px;
    padding:10px;
    margin:5px;
    color:#C0C0C0;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
}
.itinerary-detail-img{
    display:flex;
    flex-direction: column;
    width:25vw;
    height:80%;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    /* border: 5px solid #C0C0C0; */
    border-radius: 50px;
    /* background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%); */
    padding:10px;
    /* box-shadow: 5px 5px 5px 5px black; */
}
.itinerary-detail-total{
    border-top: 2px solid #C0C0C0;
}
h2.itinerary-details-title{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 5px solid #C0C0C0; */
    border-radius: 50px;
    /* background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%); */
    /* box-shadow: 5px 5px 5px 5px black; */
    color:#f4100f;
    width:auto;
    padding:10px;
    border:none;
    font-size:40px;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
}
.itinerary-price-summary{
    display:flex;
    flex-direction: column;
    align-items: left;
    border:5px solid #f4100f;
    border-radius: 20px;
    background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
    padding:15px;
    height:225px;
    width:30vw;
    box-shadow: 5px 5px 5px 5px black;
    font-weight: 600;
    color:#C0C0C0;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;

}
.itinerary-departure-return{
    display:flex;
    flex-direction: row;
    border:5px solid #C0C0C0;
    border-radius: 20px;
    background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
    padding:10px;
    margin:10px;
    font-size:16px;
    box-shadow: 5px 5px 5px 5px black;

}
.itinerary-detail-image{
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    height:300px;
    justify-content: space-evenly;
}
.itinerary-departureToReturn{
    display:flex;
    flex-direction: column;
    border:5px solid #f4100f;
    border-radius: 20px;
    padding:10px;
    background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
    box-shadow: 5px 5px 5px 5px black;
    font-weight: 600;
    width:100%;
    height:120px;
    color:#C0C0C0;

    margin:19px;
}

.itinerary-price-summary-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Play', sans-serif;
    
   
 
}

.itinerary-price-summary-button{
    border:3px solid #f4100f;
    border-radius: 10px;
    color:#C0C0C0;
    background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
    box-shadow: 5px 5px 5px 5px black;
    font-weight: 600;
    font-family: 'Play', sans-serif;
    font-size:14px;
    padding-left:10px;
    padding-right:10px;
}
.itinerary-price-summary-button:hover{
    color:#C0C0C0;
    background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
    transform: scale(1.1);
    transition: 0.5s;
    font-weight: 600;
    font-family: 'Play', sans-serif;
}
.itinerary-page-buttons{
    display:flex;
    flex-direction: row;
    margin:10px;
    justify-content: flex-end;
    font-family: 'Play', sans-serif;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
    font-size:14px;
    padding-left:10px;
    padding-right:10px;
}

.itinerary-page-button{
    margin:10px;
    background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
    box-shadow: 5px 5px 5px 5px black;
    border:3px solid #f4100f;
    border-radius: 10px;
    color:#C0C0C0;
    font-weight: 600;
    font-family: 'Play', sans-serif;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
    font-size:14px;
    padding-left:10px;
    padding-right:10px;
}
.itinerary-page-button:hover{
    color:#C0C0C0;
    background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
    transform: scale(1.1);
    transition: 0.5s;
    font-weight: 600;
    margin:10px;
    font-weight: 600;
    font-family: 'Play', sans-serif;
}