.itinerary-list-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    /* border: 5px solid #C0C0C0; */
    border-radius: 50px;
    /* background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%); */
    padding:10px;
    /* box-shadow: 5px 5px 5px 5px black; */
    justify-content: space-evenly;
    max-width: 90vw;
    height:auto;
    border-bottom: none;
   
}
.itinerary-list-header{
    /* border: 5px solid #C0C0C0; */
    border-radius: 50px;
    /* background-color: gray; */
    /* box-shadow: 5px 5px 5px 5px black; */
    color:#C0C0C0;
    border-bottom: none;
}

.itinerary-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
   
    min-height: 90vh;
}
.itinerary-page-review{
    display:flex;
    flex-direction: row;
    color:#C0C0C0;
    font-size: 20px;
    border: 5px solid #C0C0C0;
    border-radius: 50px;
    background:radial-gradient(ellipse at 50% 50%, rgba(119, 119, 114, 1) 0%, rgba(0, 0, 0, 0.97) 100%);
    box-shadow: 5px 5px 5px 5px black;
    padding:10px;
    margin:10px;
    max-height: 10px;
    align-items: center;
}
.itinerary-card-data{
    color:rgb(179, 9, 9);
}
