.home {
    display:flex;
    flex-direction: column;
    margin:20px;
    /* background-color: gray; */
    /* border: 5px white solid; */
    /* border-radius: 10px; */
    justify-content: center;
}

.exoPlanet-home-content {
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin: 1em;
    width: 30vw;
    background-color:  rgb(179, 9, 9);
    border: 10px black;
    /* border-radius: 5px; */
    
}
.home-header{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.home-cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.welcome{
    display:flex;
    flex-direction: row;
    justify-content: center;
    color:white;
    /* background-color: gray; */
    /* box-shadow: 5px 5px 5px 5px black; */
    /* border:5px solid white; */
    /* border-radius: 20px; */
    font-size: 30px;
    font-weight: 700;
    width:30vw;
    align-items: center;

}
.exoPlanet-home-card > h2{
    border-bottom: none;
}
.itinerary-home > h2{
    border-bottom: none;
}
.exoPlanet-home-card::-webkit-scrollbar{
    display: none;
}
.exoPlanet-home-card{
    display: flex;
    max-height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-styles: none;

    flex-direction: column;
    align-items: center;   
    margin: 20px;
    flex-basis: 45%;
   /* border:5px solid white;*/
    border-radius: 20px;
    background-color: rgb(179, 9, 9);
    background-color: transparent;
    /* box-shadow: 5px 5px 5px 5px black; */
    color:white;
    height:auto;
    
}

.exoPlanet-home-img {
    height: 200px;
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px 5px black; */
    margin:10px;
} 
.exoPlanet-home-link{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:5px solid white;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 10px;
    
   
    text-decoration: none;
    color:white;
    padding:10px;
    width: 100%;
    background-color:gray;

}
.exoPlanet-home-header{
    display:flex;
    flex-direction: row;
    width:40vw;
    justify-content: center;
}
.itinerary-home-img {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100px;

   border-radius: 10px;
   /* box-shadow: 5px 5px 5px 5px black; */
   margin:10px;

}
.itinerary-home-link{
    display:flex;
    flex-direction: row;
    border:5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px black;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color:white;
    margin:20px;
    padding:10px;
    background-color: gray;
    

}
.itinerary-home{


 
    box-shadow: 5px 5px 5px 5px black;
    flex-basis: 45%;
    color:white;
  
    margin:20px;
}

.itinerary-home-img-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.card-home-exoPlanet-starRating{
    display:flex;
    flex-direction: row;
    color:white;
    justify-content: center;
}
