footer {
    
    display: flex;
   
    /* background-color: #080808; */
    position: relative;
    bottom:0;
    height: 5em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 4px 4px 4px 4px black; */
    font-weight: bold;
    color:white;
    /* margin:10px;/ */
}

.team {
    height: 76px;
    width: 76px;
    /* border: 2px #080808 solid; */
    border-radius: 15px;
}

.logo {
    height: 100%;
    margin-left: 31px;
}
.footer-signature{
    margin-right: 45px;
}