.navBar {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    padding: 1em;
    transition: color .5s;
    font-weight: bold;
    background-color: gray;
}


.navBar_item {
    flex-basis: 30%;
    list-style-type: none;
    display: flex;
   justify-content: center;
   font-size: larger;
}

.item_left {
    border-left: 3px black solid;
}

.navbar__link{
    text-decoration: none;
    color: black;
    transition: color 1s, scale 1s;
}

.navbar__link:visited{
    color: black;
}

.navBar_item a:hover{
    color: rgb(0, 0, 255);
    transform: scale(1.3);
}

.navBar_item>.active{
    color: blue;
    transition: 1.5;
    transform: scale(1.3);
    ;
}

