.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

main {
  background-color: rgb(28, 70, 168);
  padding: 1em;
  font-size: xx-large;
  box-shadow: 4px 4px 4px 4px black;
  border: 5px solid white;
  border-radius: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1, h2 {
  text-align: center;
}

input[type=email]{
  resize: vertical;
  background-color: black;
  border: none;
  color: black;
  outline: none;
  margin-left: 1em;
  padding:.5em;
  box-shadow: 3px 3px 3px 3px black;
  border-radius: 5px;
}

h2 {
  padding-bottom: .1em;
  border-bottom: 5px solid black;
  margin-top: 1.3em;
  margin-bottom: 1em;
  color:white;
  
}

h1 {
  background-color: gray;
  box-shadow: 5px 5px 5px 5px black;
  border:5px solid white;
  border-radius: 50px;
  width: 115%;
  position: absolute;
  top: -9%;
  left: -8%;
  color:black;
}

.form--login {
  margin-bottom: .3em;
}

.link--register a {
  display:flex;
  justify-content: center;
  align-content: center;
  color: white;
  transition: color 1s;
  font-size: x-large;
  text-decoration: none;
  font-weight: 700;
  border-radius: 10px;
}

.link--register {
  text-align: center;
}

.link--register a:hover {
  color: gray;
}
.inputEmail{
  color:black;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}



.login-btn {
  margin: 0;
  display: flex;
  width: 100px;
  height: 30px;
  border: 3px solid white;
  color: white;
  border-radius: 5px;
  background-color: gray;
  font-weight: bold;
  font-size: large;
  transition: background-color 1s, color 1s;
 justify-content: center;
 box-shadow: 2px 2px 2px 2px black;

}

.login-btn:hover{
  background-color: black;
  color: gray;
  cursor: pointer
}

.mb-3{
  font-size: 48px;
  top: -35%;
}
.login-email{
  font-weight: 700;
  font-size: 20px;
  color:white;
}
